html {
    font-family: monospace;
}
body {
    margin: 0!important;
}
h1, h2 {
    font-weight: 10;
    margin: 5px!important;
}
h2 {
    color: darkgrey;
}
xhr {
    background: grey;
    padding: 1px;
    border-radius: 4px;
}
.Description {
    padding-left: 5px;
}
#Pink {
    position: fixed;
    bottom: 0;
    height: 15px;
    width: 100%;
    background: pink;
}
#By {
    position: fixed;
    bottom: 16px;
    right: 5pc;
    display: inline-block;
}