html {
  font-family: monospace;
}
body {
  margin: 0!important;
}
article {
  padding: 10pt;
}
h1, h2 {
  font-weight: 10;
  margin: 5px!important;
}
h2 {
  color: darkgrey;
}
xhr {
  background: grey;
  padding: 1px;
  border-radius: 4px;
}
.Description {
  padding-left: 5px;
}
.doc_name {
  color: #2b2b2b;
}
.code {
  background: #000;
  color: #fff;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 6pt;
  border-radius: 5pt;
  margin: 10pt;
}
.warning {
  color: orange;
  font-weight: 700;
}
.editor {
 background: #fff;
 height: 90vh;
 display: flex;
 flex-direction: row;
}
.editor textarea#source {
 width: 40vw;
 height: 100%;
 border: solid black 1px;
 margin: 5px;
 padding: 5px;
 resize: none;
}
#editor {
 border-right: solid black 1px;
}
#Latest {
  color: white;
  padding: 20pt;
  padding-top: 5pt;
  padding-bottom: 5pt;
  margin-bottom: 5pt;
  background: lightpink;
}
#Pink {
  position: fixed;
  bottom: 0;
  height: 15px;
  width: 100%;
  background: pink;
}
#By {
  margin: 10px;
  display: inline-block;
}
#Compatability {
  background: #2b2b2b;
  color: #fff;
}
#Compatability img {
  max-height: 32px;
}
#launch {
  background: green;
  color: #fff;
  border: outset grey 2px;
}
#launch:active {
  border: inset grey 2px;
}
#getlink {
  background: cadetblue;
  color: #fff;
  border: outset grey 2px;
}
#getlink:active {
  border: inset grey 2px;
}
#rd {
  background: #2b2b2b;
  color: #fff;
  border: outset grey 2px;
}
#rd:active {
  border: inset grey 2px;
}
#paste {
  background: #4a412a;
  color: #fff;
  border: outset grey 2px;
}
#paste:active {
  border: inset grey 2px;
}
@media screen and (max-width: 460px) {
  .editor {
    height: initial;
  }
  .editor textarea#source {
    width: 90vw;
    height: 55vh;
  }
  .editor {
    flex-direction: column-reverse;
  }
}